<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trip.attraction.dao.AttractionDao">
	
	<resultMap type="AttractionInfoDto" id="attractionInfo">
		<result column="content_id" property="contentId"/>
		<result column="content_type_id" property="contentTypeId"/>
		<result column="title" property="title"/>
		<result column="addr1" property="addr1"/>
		<result column="addr2" property="addr2"/>
		<result column="first_image" property="firstImage"/>
	</resultMap>
	
	<!-- 검색 조건문 -->
	<sql id="search">
		<if test="sidoCode!='' and sidoCode!=null">
			AND sido_code = #{sidoCode}
		</if>
		<if test="gugunCode!='' and gugunCode!=null">
			AND gugun_code = #{gugunCode}
		</if>
		<if test="contentTypeId!='' and contentTypeId!=null">
			AND content_type_id = #{contentTypeId}
		</if>
		<if test="title!='' and title!=null">
			AND title LIKE CONCAT('%', #{title}, '%')
		</if>
	</sql>
	
	<select id="attractionList" parameterType="SearchConditionDto" resultMap="attractionInfo">
		SELECT * FROM attraction_info
		<where>
			<!-- <include refid="search"></include> -->
			<if test="sidoCode!='' and sidoCode!=null">
			AND sido_code = #{sidoCode}
		</if>
		<if test="gugunCode!='' and gugunCode!=null">
			AND gugun_code = #{gugunCode}
		</if>
		<if test="contentTypeId!='' and contentTypeId!=null">
			AND content_type_id = #{contentTypeId}
		</if>
		<if test="title!='' and title!=null">
			AND title LIKE CONCAT('%', #{title}, '%')
		</if>
		</where>
		LIMIT 10
	</select>
	
	<insert id="saveHotplace" parameterType="HotplaceDto">
		INSERT INTO hotplace(placeName, visitedDate, detail, userId)
		VALUES(#{placeName}, #{visitedDate}, #{detail}, #{userId});
	</insert>
	
	<select id="hotPlaceList" parameterType="string" resultType="HotplaceDto">
		SELECT * FROM hotplace
		WHERE userId=#{userId};
	</select>
	
	<delete id="deleteHotPlace" parameterType="int">
		DELETE FROM hotplace
		WHERE placeNo=#{placeNo};
	</delete>

	<select id="select" parameterType="int" resultType="HotplaceDto">
		SELECT * FROM hotplace
		WHERE placeNo = #{placeNo}
	</select>
	
</mapper>