<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trip.member.dao.MemberDao">
	
	<insert id="registerMember" parameterType="MemberDto">
		INSERT INTO member (userId, userName, userPass, userEmail)
		VALUES (#{userId}, #{userName}, #{userPass}, #{userEmail});
	</insert>
	
	<update id="modifyMember" parameterType="MemberDto">
		UPDATE member
		SET userName=#{userName}, userPass=#{userPass}, userEmail=#{userEmail}
		WHERE userId=#{userId};
	</update>
	
	<select id="login" parameterType="String" resultType="MemberDto">
		SELECT * FROM member
		WHERE userId=#{userId};
	</select>
	
	<delete id="deleteMember" parameterType="String">
		DELETE FROM reply
		WHERE userId=#{userId};
		
		DELETE FROM board_qna
		WHERE userId=#{userId};
	
		DELETE FROM HOTPLACE
		WHERE userId=#{userId};
	
		DELETE FROM board
		WHERE userId=#{userId};
	
		DELETE FROM member
		WHERE userId=#{userId};
	</delete>
	
	<update id="saveRefreshToken" parameterType="map">
		UPDATE member
		SET refreshToken = #{refreshToken}
		WHERE userId = #{userId}
	</update>
	
	<select id="getRefreshToken" parameterType="string" resultType="string">
		SELECT refreshToken
		FROM member
		WHERE user_id = #{userId}
	</select>
	
	<update id="deleteRefreshToken" parameterType="map">
		update member
		SET refreshToken = #{token, jdbcType=VARCHAR}
		WHERE userId = #{userId}
	</update>
	
</mapper>