<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trip.qna.dao.ReplyDao">

	<!-- 질문 등록  -->
	<insert id="registerReply" parameterType="ReplyDto">
		INSERT INTO reply(comment, articleNo, userId)
        VALUES(#{comment}, #{articleNo}, #{userId})
	</insert>
    
    <select id="listReply" parameterType="int" resultType="ReplyDto" >
    	SELECT * 
    	FROM reply
    	WHERE articleNo = #{articleNo}
    </select>
    
    <select id="getReply" parameterType="int" resultType="ReplyDto">
    	SELECT *
    	FROM reply
    	WHERE replyNo = #{replyNo}
    </select>
    
    <update id="modifyReply" parameterType="ReplyDto">
    	UPDATE reply
        SET comment = #{comment}
        WHERE replyNo = #{replyNo}
    </update>
    
    <delete id="deleteReply" parameterType="int">
    	DELETE FROM reply
    	WHERE replyNo = #{replyNo};
    </delete>
    
</mapper>