<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trip.snapshot.mapper.SnapshotMapper">

	<resultMap id="snapshot" type="Snapshot">
		<id column="id" property="id"/>
		<result column="userId" property="userId"/>
		<result column="content_id" property="contentId"/>
		<result column="content" property="content"/>
		<result column="tag" property="tag"/>
		<result column="start_date" property="startDate"/>
		<result column="end_date" property="endDate"/>
		<result column="publishedDate" property="publishedDate"/>
		<association property="member" resultMap="member"/>
		<association property="attractionInfo" resultMap="attractonInfoDB"/>
	</resultMap>
	
	<resultMap id="member" type="com.trip.member.MemberDto">
		<!-- column - property간 네이밍 동일 -->
	</resultMap>
	
	 <resultMap id="attractonInfoDB" type="com.trip.search.dto.AttractionInfo_DB">
        <id column="content_id" property="contentId"/>
        <result column="title" property="title"/>
        <result column="addr1" property="addr1"/>
        <result column="addr2" property="addr2"/>
        <result column="content_type_id" property="contentTypeId"/>
        <result column="readcount" property="readCount"/>
        <result column="first_image" property="firstImage"/>
        <result column="first_image2" property="firstImage2"/>
    </resultMap>
	
	<insert id="insertSnapshot" parameterType="Snapshot">
		INSERT INTO snapshot(userId, content_id, content, tag, start_date, end_date) 
			VALUES (#{userId}, #{contentId}, #{content}, #{tag}, #{startDate}, #{endDate})
		<selectKey keyProperty="id" resultType="Integer">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>

<!--	<select id="getLastInsertId" resultType="int">-->
<!--		SELECT LAST_INSERT_ID()-->
<!--	</select>-->
	
	<update id="modifySnapshot" parameterType="Snapshot">
	</update>
	
	<delete id="deleteSnapshot" parameterType="int">
	</delete>
	
	<select id="findSnapshotList" resultMap="snapshot">
		SELECT *
		FROM snapshot as s 
			INNER JOIN member as m 
				ON s.userId = m.userId
			INNER JOIN Attraction_Info as a
				ON a.content_Id = s.content_id
	</select>
		
	<select id="findSnapshotByUserId" parameterType="string" resultMap="snapshot">
		SELECT *
		FROM snapshot as s 
			INNER JOIN member as m 
				ON s.userId = m.userId
			INNER JOIN Attraction_Info as a
				ON a.content_Id = s.content_id
		WHERE s.userId = #{userId}
	</select>
	
	<select id="findSnapshotByStoryId" parameterType="int" resultMap="snapshot">
	SELECT *
		FROM snapshot as s 
			INNER JOIN member as m 
				ON s.userId = m.userId
			INNER JOIN Attraction_Info as a
				ON a.content_Id = s.content_id
		WHERE s.id = #{id}
	</select>

	<!-- 스냅샷 테이블 - 스냅 파일 삽입 관련-->
	<resultMap id="snapFile" type="SnapFile">
		<id column="id" property="id"/>
		<result column="snap_id" property="snapId"/>
		<result column="original_filename" property="originalFilename"/>
		<result column="original_extension" property="originalExtension"/>
		<result column="stored_filename" property="storedFilename"/>
		<result column="stored_path_prefix" property="storePathPrefix"/>
		<result column="size" property="size"/>
		<result column="created_date" property="createdDate"/>
	</resultMap>

	<insert id="insertSnapshotFiles" parameterType="Map">
		INSERT INTO SNAP_FILE(snap_id, original_filename, original_extension, stored_filename, stored_path_prefix, size)
		VALUES
		<foreach collection="files" item="f" separator=",">
			(#{snapId}, #{f.originalFilename}, #{f.originalExtension},#{f.storedFilename},#{f.storePathPrefix},#{f.size})
		</foreach>
	</insert>

	<select id="findBySnapId" parameterType="string" resultMap="snapFile">
		SELECT *
		FROM SNAP_FILE
		WHERE snap_id = #{snapId}
	</select>

	<!-- 각 그룹(snap_id)별로 대표 이미지만 -->
	<select id="getAllGroupRepresentImage" resultMap="snapFile">
		SELECT *
		FROM snap_file WHERE id IN (
			SELECT MIN(id) FROM snap_file GROUP BY snap_id
		)
	</select>

	<select id="getGroupRepresentImage" resultMap="snapFile">
		SELECT *
		FROM snap_file WHERE id IN (
			SELECT MIN(id) FROM snap_file GROUP BY snap_id
		) AND snap_id = #{snapId};
	</select>
</mapper>